# GEMINI
GEMINI_API_KEY=AIzaSyC2vxdYXA8lhYK-ymi4JODUULf1L_wl4PI

# Supabase
SUPABASE_URL=https://hwnwjpiijcslfdngbxmc.supabase.co
SUPABASE_SERVICE_ROLE_KEY=hello
SUPABASE_JWT_SECRET=39bvGCwqApTnP2vWXrgOTjSinEN/uZqR768IqqkD4ETSak/EAhIirpSMvcSntOiRPe3pDPfM4c0Im4boeXYcng==

# Tavily Search
TAVILY_API_KEY=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

# Google OAuth
GOOGLE_CLIENT_ID=hello
GOOGLE_CLIENT_SECRET=hello

# App
FRONTEND_URL=http://localhost:5173
SECRET_KEY=hello
